<div class="product">
  <img src="{{ product.featured_image | image_url }}">
  <h1>{{ product.title }}</h1>
  <p>{{ product.price | money }}</p>
  <div class="description">
    {{ product.description }}
  </div>

  {% render 'product-metafield' %}

  <details>
    <summary>Detalles del producto</summary>
    <p>{{ product.metafields.custom.details }}</p>
  </details>

  <form method="post" action="/cart/add">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <button type="submit">Añadir al carrito</button>
  </form>
</div>
